*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.nav-container{
    background-color: rgba(140, 138, 138, 0.985);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.manu-list{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    list-style: none;
}
 .manu-list li{
        
        text-transform: capitalize;
        font-size: 20px;
        font-style: italic;
        cursor: pointer;
}
.btn1{
    padding: 15px 30px;
    background-color: rgb(250, 62, 62);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}
.btn2{
    padding: 15px 30px;
    background-color: #ffffff;
    color: rgb(250, 62, 62);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner-container{
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(27, 5, 94, 0.607), rgba(31, 13, 150, 0.595));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    display: flex;
}
.banner-description{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}
.banner-title{
    font-size: 60px;
    color: white;
}
.banner-title span{
    color: red;
}
.banner-content{
    color: white;
    font-size: 18px;
    padding: 20px 0;
}
.service-container{
    background-image: url('./asset/image/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

